.container-wrap {
    height: 100%;
    width: 100%;
    position: relative;
}

.brush-chart {
    
}

.row-chart {
    display: inline-block;
    margin-left: 5rem;
}

.pie-chart {
    display: inline-block;
}

.bar-chart {
    display: inline-block;
}
