.container-wrap {
    height: 100%;
    width: 100%;
    position: relative;
}

.brush-chart {
    margin-top: 2rem;
}

.row-chart {
    display: inline-block;
    margin-left: 5rem;
    margin-top: 3rem;
    margin-right: 1rem;
}

.pie-chart {
    display: inline-block;
    margin-top: 3rem;
}

.bar-chart {
    display: inline-block;
    margin-top: 3rem;
}
